{% extends 'list.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'lib/datatables-1.13.4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/datatables-1.13.4/plugins/responsive-2.4.1/css/responsive.bootstrap4.min.css' %}">
  <script src="{% static 'lib/datatables-1.13.4/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'lib/datatables-1.13.4/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.13.4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.13.4/plugins/responsive-2.4.1/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.13.4/plugins/responsive-2.4.1/js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'product/js/list.js' %}"></script>
{% endblock  %}

{% block message %}
  <h1 class="m-0 text-dark"> Bienvenido <small>Área de Productos</small></h1>
{% endblock message %}

{% block name %}
<h3 class="card-title">Lista de Productos</h3>
{% endblock name %}


{% block columns %}
            <tr>
              <th>Nro</th>
              <th>Nombre</th>
              <th>Categoria</th>
              <th>Stock</th>
              <th>Imagen</th>
              <th>PVP</th>
              <th>IVA</th>
              <th>Precio Venta</th>
              <th>Opciones</th>
            </tr>
{% endblock columns %}


{% block rows %}
{% for c in object_list %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.category }}</td>
                <td>{{ c.stock }}</td>
                <td>
                    {% comment %} <img src="/media/{{ c.image }}" class="img-fluid d-block" style="width: 48px; height: 48px;"> {% endcomment %}
                </td>
                <td>${{ c.pvp }}</td>
                <td>{{ c.iva }}</td>
                <td>${{ c.sale_price }}</td>
                {% comment %} <td>
                    <a href="{% url 'erp:product_update' c.id %}" class="btn btn-warning"><i class='fas fa-pen-alt'></i></a>
                    |
                    <a href="{% url 'erp:product_delete' c.id %}" class="btn btn-danger"><i class='far fa-trash-alt'></i></a>
                </td> {% endcomment %}
            </tr>
            {% endfor %}
{% endblock rows %}


{% block foot %}
<form method="get" action="{% url 'erp:product_create' %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-sm btn-info float-left">Añadir Nuevo Producto <i class='fas fa-plus-circle'></i></button>
</form>
{% endblock foot %}

{% block javascript %}

{% endblock  %}