{% extends 'list.html' %}

{% block message %}
  <h1 class="m-0 text-dark"> Bienvenido <small>Área de Clientes</small></h1>
{% endblock message %}

{% block name %}
<h3 class="card-title">Lista de Clientes</h3>
{% endblock name %}


{% block columns %}
            <tr>
              <th>Nro</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Cédula</th>
              <th>Fecha de Nacimiento</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              {% comment %} <th>Email</th> {% endcomment %}
              <th>Sexo</th>
              <th>Opciones</th>
            </tr>
{% endblock columns %}


{% block rows %}
{% for c in object_list %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.names }}</td>
                <td>{{ c.surnames }}</td>
                <td>{{ c.dni }}</td>
                <td>{{ c.birth }}</td>
                <td>{{ c.address }}</td>
                <td>{{ c.phone }}</td>
                {% comment %} <td>{{ c.mail }}</td> {% endcomment %}
                <td>{{ c.gender }}</td>
                <td>
                    <a href="{% url 'erp:client_update' c.id %}" class="btn btn-warning"><i class='fas fa-pen-alt'></i></a>
                    |
                    <a href="{% url 'erp:client_delete' c.id %}" class="btn btn-danger"><i class='far fa-trash-alt'></i></a>
                </td>
            </tr>
            {% endfor %}
{% endblock rows %}


{% block foot %}
<form method="get" action="{% url 'erp:client_create' %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-sm btn-info float-left">Añadir Nuevo Cliente <i class='fas fa-plus-circle'></i></button>
</form>
{% endblock foot %}
