{% extends 'list.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.13.4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/datatables-1.13.4/plugins/responsive-2.4.1/css/responsive.bootstrap4.min.css' %}">
    <script src="{% static 'lib/datatables-1.13.4/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/plugins/responsive-2.4.1/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.13.4/plugins/responsive-2.4.1/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'sale/js/list.js' %}"></script>
{% endblock %}
{% block message %}
  <h1 class="m-0 text-dark"> Bienvenido <small>Área de Ventas</small></h1>
{% endblock message %}

{% block name %}
<h3 class="card-title">Lista de Ventas</h3>
{% endblock name %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">DNI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Subtotal</th>
        {% comment %} <th scope="col">Iva</th> {% endcomment %}
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block foot %}
<form method="get" action="{% url 'erp:sale_create' %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-sm btn-info float-left">Añadir Nueva Venta <i class='fas fa-plus-circle'></i></button>
</form>
{% endblock foot %}

{% block javascript %}
    <div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Consulta de
                        detalle de productos</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblDet">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Categoría</th>
                            <th>PVP</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>IVA</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}